body {
  -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}



/* https://www.joshwcomeau.com/css/custom-css-reset/
------------------------------------------------------- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Inline Elements & Typography
------------------------------------------------------- */

body,
input,
textarea {
  color:#424242;
  font:1em/1.67 'IBM Plex Serif', 'Garamond', serif; /*'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'IBM Plex Serif', serif;
  }

/* Links */
a,
.splash a {
  cursor:pointer;
  color:#1976d2;
  text-decoration:none;
  font-weight:bold;
  -webkit-transition:color 100ms;
     -moz-transition:color 100ms;
       -o-transition:color 100ms;
          transition:color 100ms;
  }
  a:hover {
    color:#197987;
    }
  a.active {
    color:#DC0096;
    }
  .rss {
    color:#d4d7d9;
    }
    .rss:hover {
      color:#516066;
      }
      
a,
p .excerpt {
    color: #424242;
    font-weight: normal;
    }   

hr {
  margin:0 0 20px;
  border:0;
  height:1px;
  background:#f8f8f8;
  }

/* Block Quotes */
blockquote,
q {
  quotes:none;
  font-style:italic;
  padding-left:20px;
  margin:10px;
  }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  }

  /* Code Blocks & Pre */
code,
pre {
  padding:5px;
  font-family:Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
  font-size:12px;
  border-radius:3px;
  }
code {
  padding:5px;
  background:#f8f8f8;
  border:1px solid #ddd;
  }
pre {
  display:block;
  padding:10px;
  margin-bottom:10px;
  font-size:12px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  background:#f8f8f8;
  border:1px solid #ddd;
  border-radius:3px;
  }
  pre code {
    padding:0;
    color:inherit;
    background-color:transparent;
    border:0;
    }
.pre-scrollable {
  max-height:300px;
  overflow-y:scroll;
  }

/* sub/superscripts */
sup,
sub {
  height:0;
  line-height:1;
  vertical-align:baseline;
  _vertical-align:bottom;
  position:relative;
  font-size:75%;
  }
sup {
  top:.5em;
  bottom:1em;
  }

label {
  display:block;
  }
select,
textarea,
input[type=text] {
  display:inline-block;
  height:30px;
  width:95%;
  max-width:400px;
  margin-bottom:10px;
  font-size:13px;
  font-weight:500;
  line-height:20px;
  color:#a0a0a0;
  vertical-align:middle;
  padding:4px 6px;
  -webkit-border-radius:1px;
          border-radius:1px;
  }
textarea,
input[type=text] {
  background-color:#fff;
  border:1px solid #ccc;
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
     -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.1);
          box-shadow:1px 1px 2px rgba(0,0,0,0.1);
  -webkit-transition:border linear .2s, box-shadow linear .2s;
     -moz-transition:border linear .2s, box-shadow linear .2s;
       -o-transition:border linear .2s, box-shadow linear .2s;
          transition:border linear .2s, box-shadow linear .2s;
  }
  textarea:focus,
  input[type=text]:focus {
    outline:thin dotted\8; /* ie8 below */
    color:#404040;
    border-color:#00395D;
    border-width:1px;
    }

textarea {
  height:200px;
  max-width:none;
  }
input[type=submit] {
  background-color:#00395D;
  cursor:pointer;
  color:#fff;
  font-weight:bold;
  text-transform:uppercase;
  border:none;
  padding:9px 20px;
  -webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
     -moz-box-shadow:2px 2px 4px rgba(0,0,0,0.1);
          box-shadow:2px 2px 4px rgba(0,0,0,0.1);
  }
  input[type=submit]:hover {
    background-color:#002f4c;
    }
  input[type=submit]:active {
    position:relative;
    top:1px;
    }

table {
  width:100%;
  background-color:transparent;
  border-collapse:collapse;
  border-spacing:0;
  margin-bottom:20px;
  table-layout:fixed;
  }
  th,
  td {
    padding:4px 0;
    line-height:20px;
    text-align:left;
    vertical-align:top;
    border-bottom:1px solid #d5d5d5;
    }
  th {
    font-weight:bold;
    }
  thead th {
    vertical-align:bottom;
    color:#57594D;
    }

/* Global Layout
------------------------------------------------------- */
.container {
  width:98vw;
  max-width:1600px;
  margin:0 auto;
  overflow:hidden;
  position:relative;
  min-height:100vh;
  }

/* Global Style
------------------------------------------------------- */
.heading,
.header {
  padding:20px 0;
  }
  .header .title {
    font-size:15px;
    line-height:1.67;
    font-weight:bold;
    margin:0;
    }
    .header .title a {
      color:#424242;
      }

.menu {
  text-align:right;
  }
  .menu a {
    margin:0 0 0 10px;
    color:#DC0096;
    }

.listing .item {
  display:block;
  padding:2px 0;
  border-bottom:1px solid #d4d7d9;
  }

.listing .month {
  color:#868f93;
  margin-top:20px;
  }

.splash img {
  margin:0 auto;
  display:block;
  max-width:100%;
  max-height: 81vh;
  }

  .content img {
  background:#f0f0f0;
  margin:0 auto;
  display:block;
  max-width:100%;
  }
  
.date {
  color:#d4d7d9;
  font-weight:normal;
  }

.next {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
}
  
.post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.post-nav p {
    flex: 1 1 0;
    width: 45%;
}

.post-nav p:first-child {
    padding-right: 0.5em;
}

.post-nav p:last-child {
    padding-left: 0.5em;
    text-align: right;
}

details > summary {
    list-style-type: none;
    list-style: none;
    cursor: pointer;
}

details > summary::-webkit-details-marker {
    display: none;
}

/* Columns
------------------------------------------------------- */
.col0    { float:left; width:04.1666%; }
.col1    { float:left; width:08.3333%; }
.col2    { float:left; width:16.6666%; }
.col3    { float:left; width:25.0000%; }
.col4    { float:left; width:33.3333%; }
.col5    { float:left; width:41.6666%; }
.col6    { float:left; width:50.0000%; }
.col7    { float:left; width:58.3333%; }
.col8    { float:left; width:66.6666%; }
.col9    { float:left; width:75.0000%; }
.col10   { float:left; width:83.3333%; }
.col11   { float:left; width:91.6666%; }
.col12   { width:100%; }
.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }

/* Padding
------------------------------------------------------- */
.pad1    { padding:10px; }
.pad2    { padding:20px; }
.pad21h  { padding:10px 20px; }
.pad2h   { padding:0 20px; }
.pad4    { padding:40px; }
.pad4h   { padding-left:40px; padding-right:40px; }
.pad8    { padding:80px 40px; }
.pad4c   { padding:40px; }

/* Additional Utility Classes
------------------------------------------------------- */
.fr           { float:right; }
.fl           { float:left; }
.show         { display:block; }
.hide         { display:none; }
.deemphasize  { color:#888; }
.center       { text-align:center; }

.tip-top:after,
.tip-right:after,
.tip-bottom:after,
.tip-left:after {
  content:'';
  border-width:0 5px 5px;
  border-style:solid;
  position:absolute;
  border-color:#333 transparent;
  }
  .tip-bottom:after {
    border-width:5px 5px 0;
    }
  .tip-left:after {
    border-width:5px 5px 5px 0;
    border-color:transparent #333;
    }
  .tip-right:after {
    border-width:5px 0 5px 5px;
    }

/* Markup free clearing
Details: http://www.positioniseverything.net/easyclearing.html
------------------------------------------------------- */
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  }

.fl       { float:left; }
.fr       { float:right; }
.clearfix { display:inline-block; }
.centered { text-align:center; }

/* Tablet Layout
------------------------------------------------------- */
@media only screen and (max-width:960px) {
  .hide-tablet { display:none; }
  .show-tablet { display:block; }
  }

/* Mobile Layout
------------------------------------------------------- */
@media only screen and (max-width:770px) {
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 { width:100%; max-width:100%; }
  .margin0,
  .margin1,
  .margin2,
  .margin3,
  .margin4,
  .margin5,
  .margin6,
  .margin7,
  .margin8,
  .margin9,
  .margin10,
  .margin11,
  .margin12 { margin-left:0; }
  .pad4c { padding:0; }
  .pad4,
  .pad4h { padding-left:20px; padding-right:20px; }
  .pad8 { padding:40px 20px; }
  .hide-mobile { display:none; }
  .show-mobile { display:block; }
  .icon {
    background-image:url(img/sprite@2x.png);
    background-size:240px 240px;
    }
  }