---
layout: default
section: post
published: true
---



  {% for item in site.posts %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
  	{% capture url %}{{ item.url }}{% endcapture %}
  	{% capture img %}{{ item.img }}{% endcapture %}
  	
  	{% if forloop.first == true %}
  	
  	 <div class='splash col12' style='position:relative; padding-bottom:6em; display: inline-block;'>
        <a class='excerpt show' href="{{site.baseurl}}{{item.url}}"><img class='splash' src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ item.img | prepend: site.baseurl }}&h=800&output=jpg&q=65bg=transparent"</img></a>
      </div>
      <div class='listing col6 margin3' style='padding-bottom:2em; padding-top:3em;'>
          {{ item.title }}
          <span class='date'>
               &#152; {{item.date | date:"%b %d %Y"}}
          </span>
          <a href="{{site.baseurl}}{{item.url}}">
          <h4 class='item'></h4>
          <span class='date fr' href='{{ site.baseurl }}{{ item.url }}'>
            	view post &nbsp;&raquo;
           </span>
          </a>
      </div>
      
  	{% else %}
  	
    <div class='listing col6 margin3'>
    
      <div class='splash' style='padding-bottom:.42em;'>
        <div style='padding-bottom:.42em;'>
          <details>
            <summary>
              <a href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a>
              <span class='date'>&#152; {{item.date | date:"%b %d %Y"}}</span>
              <span class='date fr'>&nbsp;&raquo;</span>
            </summary>
            <p>
              <a href="{{site.baseurl}}{{item.url}}"><img class='splash show' src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ item.img | prepend: site.baseurl }}&h=800&output=jpg&q=65bg=transparent"</img></a>
            </p>
          </details>
        </div>
      </div>
      
    </div>
    {% endif %}
      
  {% endfor %}
  
  <span class='listing col12' style='padding-bottom: 6em;'></span>
