---
section: post
published: true
---

{% include head.html %}

<body>
  <div class='container'>
  
    {% include hamburger.html %}
    {% for item in site.categories.post limit:1000 %}
      {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
      {% capture url %}{{ item.url }}{% endcapture %}
      {% capture title %}{{ item.title }}{% endcapture %}
    	  {% capture img %}{{ item.img }}{% endcapture %}
    	  {% capture img-name %}{{ item.img-name }}{% endcapture %}
    	  {% capture medium %}{{ item.medium }} {% endcapture %}
      	
      {% if item.title == post.title %}	
      <div class='listing col6 pad4h margin3' style='padding-bottom: 4em;'>    
        <div class='splash excerpt' style='splash-wrapper'>
          <a class='prev' href="{{ item.previous }}" ><<<</a>
          <a class='next' href="{{ item.next }}" >>>></a>
          
          <img alt='item.img-name' src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ item.img | prepend: site.baseurl }}&h=800&output=jpg&q=65bg=transparent" </img>
        </div>
              
        <div class='splash' style='padding-bottom: 2em;'>
          <span class='date fr'>{{ item.medium }}
          
          {{content}}
        </div>
        
        <div style='padding-bottom:2em;'>
          <h4 class='item'></h4>
          <span class='date fl'>{{ item.title }}</span>
          <span class='date fr'>{{ item.date | date:"%b %d %Y" }}</span>
        </div> 
        
      </div>      
      {% else %}      
      
      <div class='col6 pad4h margin3' style='padding-bottom:6em;'>
          <div class='splash' style='padding-bottom:.42em;'>
            <div style='padding-bottom:.42em;'>
              <details>
                <summary>
                  <a href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a>
                  <span class='date'>
                    &#152; {{item.date | date:"%b %d %Y"}}
                  </span>
                  <span class='date fr'>&nbsp;&raquo;</span>
                </summary>
                <p>
                  <a href="{{site.baseurl}}{{item.url}}">{{ item.img }}</a>
                </p>
              </details>
            </div>
          </div>
      </div>
      {% endif %}
    {% endfor %}  
    </div> 
  <script src='{{site.baseurl}}/site.js'></script>
</body>

{% include foot.html %}