---
section: post
published: true
---

{% include head.html %}

<body>
  <div class='container' style='position: relative; min-height: 100vh; border: 1px solid black;'>
  
    {% include hamburger.html %}    
    
      <div class='splash col12' style='padding-bottom: 2em; position: relative; display: inline-block; border: 1px solid yellow;'>
    
        <img alt='{{ page.img-name }}' class='excerpt' style='display: block; max-width: 100%; height: auto;' src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ page.img | prepend: site.baseurl }}&h=800&output=jpg&q=65bg=transparent"</img>  

        {% if page.previous.url %}
          <a class='prev date fr' href="{{page.previous.url}}">
            <span style='position:absolute; right: 0; top: 0; border: 1px solid blue; height: 100%; width: 70%;'>
              {{page.previous.title}}
            </span>
          </a>
        {% endif %}
        
        {% if page.next.url %}
          <a class='next date fl' href="{{page.next.url}}">
            <span style='position:absolute; left: 0; top: 0; border: 1px solid red; height: 100%; width: 30%;'>
              {{page.next.title}}
            </span>
          </a>
        {% endif %}
          
      </div>

      <div class='listing col6 pad4h margin3' style='padding-bottom:2.43em; border: 1px solid green;'>

        <div class='splash' style='padding-bottom: 2em;'>
            {{ content }}
        </div>
        
        <div style='padding-bottom:2em;'>
            <span class='date fl'>
              {{ page.title }}
            </span>
            <span class='date fr'>
              {{ page.date | date:"%Y" }}
            </span>
            <span class='date' style='display: block; text-align: center;'>
              {{ page.medium }}
            </span>
            
            <h4 class='item'></h4>
        
            {% if page.previous.url %}
              <a class="prev date fr" style='padding-top: .43em; padding-bottom: 6em;' href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
            {% endif %}
            
            {% if page.next.url %}
              <a class="next date fl" style='padding-top: .43em; padding-bottom: 6em;' href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
            {% endif %}
        </div>    
    
      </div> <!-- ./listing -->
      
      {% include foot.html %}          
      
    </div> <!-- ./container -->
  <script src='{{site.baseurl}}/site.js'></script>
</body>



<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --  
  --
  --
  --  X - comment out non working code
  --
  --  X - build version of post.html that uses page.img and successfully loads content
  --
  --  X - include some form of pagination
  --    - working pagination over image
  --
  --  4 - clean up CSS & HTML to bring pages of a book feel
  --      - writing side by side image on wide screens
  --
  --  5 - overlay post as landing on index.html
  --
  --  6 - setup index.html as:
  --      - head
  --      - menu
  --      - img
  --      - content
  --      - post list
  --      - contact/support
  --      - foot
  --
  --     
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->



<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --    
  -- non working code
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --    
  
        <div class='listing col6 pad4h margin3' style='padding-bottom: 4em;'>		
        {% for post in paginator.posts %}
        {% if page == paginator.post %}
         
        <div class='splash' style='splash-wrapper'>
          <img alt='{{ page.img-name }}' class='excerpt' src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ page.img | prepend: site.baseurl }}&h=800&output=jpg&q=65bg=transparent"</img>  
        </div>
        <a class='prev fl' href="{{ page.previous | prepend: site.baseurl }}" > <<< </a>
          <a class='next fr' href="{{ page.next | prepend: site.baseurl }}" > >>> </a>
        
        < !--more-- >      
              
        <div class='splash' style='padding-bottom: 2em;'>
          {{ content }}
        </div>
        
        <div style='padding-bottom:2em;'>
          <h4 class='item'></h4>
          <span class='date fl'>{{ page.title }}</span>
          <span class='date fr'>{{ page.date | date:"%b %d %Y" }}</span>
          <span class='date fr'>{{ page.medium }}</span>
        </div> 
        
        {% endif %}
        {% endfor %}
      
      {% for item in site.categories.post limit:1000 %}
      
        <div class='splash' style='padding-bottom:.42em;'>
          <div style='padding-bottom:.42em;'>
            <details>
              <summary>
                <a href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a>
                <span class='date'>&#152; {{ item.date | date:"%b %d %Y" }}</span>
                <span class='date fr'>&nbsp;&raquo;</span>
              </summary>
              <p>
                <a href="{{site.baseurl}}{{item.url}}">{{ item.img | prepend: site.baseurl }}</a>
              </p>
            </details>
          </div>
        </div>
        
      {% endfor %}
      
      </div>
      
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --    
  -- /non working code      
  -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->