---
section: post
published: true
---

{% include head.html %}

<body>
  <div class='container'>
  
    {% include hamburger.html %}
      	
      <div class='listing col6 pad4h margin3' style='padding-bottom: 4em;'>    
        {% for post in paginator.posts %}
      
        <div class='splash' style='splash-wrapper'>
          <a class='prev' href="{{ paginator.previous_page_path }}" ><<<</a>
          <a class='next' href="{{ paginator.next_page_path }}" >>>></a>
          
          <img alt='post.img-name' src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ post.img | prepend: site.baseurl }}&h=800&output=jpg&q=65bg=transparent" </img>
        </div>
              
        <div class='splash' style='padding-bottom: 2em;'>
          <span class='date fr'>{{ post.medium }}
          
          {{content}}
        </div>
        
        <div style='padding-bottom:2em;'>
          <h4 class='item'></h4>
          <span class='date fl'>{{ post.title }}</span>
          <span class='date fr'>{{ post.date | date:"%b %d %Y" }}</span>
        </div>
        
      {% endfor %}  
      </div>  

      <div class='col6 pad4h margin3' style='padding-bottom:6em;'>
      	{% for item in site.categories.post limit:1000 %}
          {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
          {% capture url %}{{ item.url }}{% endcapture %}
          {% capture title %}{{ item.title }}{% endcapture %}
          {% capture excerpt %}{{ item.excerpt }}{% endcapture %}
        	  {% capture img %}{{ item.img }}{% endcapture %}
        	  {% capture medium %}{{ item.medium }} {% endcapture %}
      	      	
	
          <div class='splash' style='padding-bottom:.42em;'>
            <div style='padding-bottom:.42em;'>
              <details>
                <summary>
                  <a href="{{site.baseurl}}{{item.url}}">{{ item.title }}</a>
                  <span class='date'>
                    &#152; {{item.date | date:"%b %d %Y"}}
                  </span>
                  <span class='date fr'>&nbsp;&raquo;</span>
                </summary>
                <p>
                  <a href="{{site.baseurl}}{{item.url}}">{{ item.img }}</a>
                </p>
              </details>
            </div>
          </div>
      
 
        {% endfor %}
      </div>
      
    </div> 
  <script src='{{site.baseurl}}/site.js'></script>
</body>

{% include foot.html %}